th {
  width: 150px;
  text-align: start;
}
th.registered {
  width: 400px;
}
tr {
  display: block;
  height: 30px;
}
th.registered a {
  text-decoration: none;
  color: blue;
}
th.forgot {
  margin-top: -15px;
}
input[type="checkbox"] {
  width: 15px;
  height: 15px;
  margin-left: -1px;
}
.login {
  width: 200px;
}
