h1 {
  text-align: center;
  color: blue;
}
label {
  color: #b5179e;
  font-weight: 600;
}
table {
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
}
td {
  width: 200px;
}
td,
tr {
  border: 1px solid black;
}
body {
  border: 2px solid gray;
  padding-bottom: 15px;
}
